* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --background-color: #F8F8F8;
    --backgrond-second-color: #E8E8E8;
    --font-color: #000C27;
    --button-color: #ffffff;
    --switch-border-color: #ffffff;
    --switch-icon: url(./assets/sun.svg);

    --title-font-size: 24px;
    --subtitle-font-size: 20px;
}

.dark-mode {
    --switch-icon: url(assets/moon.svg);
    --background-color: #101010;
    --backgrond-second-color: #404040;
    --font-color: #ffffff;
    --button-color: #202020;
    --switch-border-color: #202020;
}

p {
    color: var(--font-color);
    font-weight: bold;
}

#meu-nome {
    margin: 16px;
    font-size: var(--title-font-size);
    color: var(--font-color);
}

body {
    background-color: var(--background-color);
    height: 100vh;
    overflow: hidden;

    padding: 24px;

    align-content: center;
    transition: .4s;
}

#image-container {
    overflow: hidden;
    max-width: 244px;
    width: 100%;
    aspect-ratio: 1/1;

    margin: 0 auto;

    border-radius: 50%;
    transition: all .2s ease;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.164);
}

#image-container:hover {
    transform: scale(1.2) translateY(-24px);
    border-radius: 0%;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#switch-group-container{
    position: relative;
    max-width: 86px;
    margin: 0 auto;
}

#switch-group-way{
    display: block;
    background-color: var(--backgrond-second-color);
    border: 2px solid var(--switch-border-color);
    border-radius: 24px;
    height: 32px;
    max-width: 86px;
    width: 100%;
}

#switch{
    background: var(--background-color) var(--switch-icon) no-repeat center;
    background-size: 26px;
    max-width: 36px;
    width: 100%;
    aspect-ratio: 1/1;

    border-radius: 50%;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -50%);

    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.253);
    transition: .4s;
}

#switch-active{
    background: var(--background-color) var(--switch-icon) no-repeat center;
    background-size: 26px;
    max-width: 36px;
    width: 100%;
    aspect-ratio: 1/1;

    border-radius: 50%;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    left: 50%;

    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.253);
    transition: .4s;
    transform: translate(50%, -50%);   
}


header {
    text-align: center;
}

main {
    margin: 24px 0;
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.button-group-option {
    background-color: var(--button-color);
    max-width: 440px;
    width: 100%;
    text-align: center;
    align-content: center;
    height: 64px;

    border-radius: 24px;
    font-size: var(--subtitle-font-size);
    text-decoration: none;
    color: var(--font-color);
    font-weight: bold;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.164);

    transition: transform .2s ease;
}

.button-group-option:hover {
    transform: scale(1.1);
}

.button-group-option:checked {
    transform: scale(0.9);
}

nav {
    margin: 0 auto;
    text-align: center;
    align-content: center;

    border-radius: 24px;
    background-color: var(--backgrond-second-color);

    max-width: 188px;
    height: 32px;

    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.164);
}

i {
    font-size: 20px;
    margin: 0px 12px;
    transition: transform .2s ease;
    color: var(--font-color);
}

nav>a>i:hover {
    transform: scale(1.2);
}